<h1>Login In</h1>

<form action="/admin" method="post">
    <label for="username">UserName</label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password" />

    <input type="submit" value="Login" class="btn" />
</form>

<!-- <h1>Register</h1>
<form action="/register" method="post">
    <label for="username">UserName</label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password" />

    <input type="submit" value="Register" class="btn" />
</form> -->